body {
    background-image: url("../img/background\ white.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.bg-catering {
    background-color: #ffeab8;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 1rem rgb(0, 0, 0);
    padding: 2rem 1rem;
    margin: 1rem 0;
}

.carousel-img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.bg-white {
    outline: 1px solid #000000;
    padding: 1rem;
    margin: 1rem 0;
}




/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .bg-catering {
        padding: 1rem 0.5rem;
    }

    .bg-white {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .carousel-img {
        max-height: 200px;
    }
}

@media (max-width: 576px) {
    .bg-catering {
        padding: 0.5rem 0.25rem;
    }

    .bg-white {
        padding: 0.25rem;
        margin: 0.25rem 0;
    }

    .carousel-img {
        max-height: 150px;
    }
}